FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_MODEL_DEPLOYMENT=
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=
AZURE_SPEECH_VOICE=en-US-AvaMultilingualNeural
GITHUB_TOKEN=
IDEA2IMPACT_DATA_DIR=
RENDER_EXECUTION_MODE=local
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
AZURE_CONTAINER_APP_JOB_NAME=
